<div class="container" role="main">

    <div class="jumbotron" style="height: 200px; padding: 10px 60px;">
        <h1>代码示例</h1>
        <p>下面有诸多功能示例，可以参考其中实现进行项目开发，如遇问题，请不要害怕，直接打注册<a href="https://github.com/leftstick/generator-require-angular/issues" target="_blank">issue</a>，或者发邮件<a href="mailto:leftstick@qq.com">leftstick@qq.com</a></p>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>noty使用方法</h1>
            </div>
            <p>
                <button type="button" class="btn btn-success" ng-click="showSuccessNoty()">操作成功</button>
                <button type="button" class="btn btn-info" ng-click="showInfoNoty()">操作提示</button>
                <button type="button" class="btn btn-danger" ng-click="showErrorNoty()">操作失败</button>
            </p>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>modal使用方法</h1>
            </div>
            <p>
                <button type="button" class="btn btn-default" ng-click="showInfo()">信息modal</button>
                <button type="button" class="btn btn-primary" ng-click="showCustom()">自定义modal</button>
                <button type="button" class="btn btn-warning" ng-click="showConfirm()">确认modal</button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>Tooltips使用方法</h1>
            </div>
            <div class="input-group col-xs-8 col-sm-6">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" data-trigger="click" data-placement="bottom" data-type="success" data-title="我是点击者" bs-tooltip>点我呀</button>
                </span>
                <input type="text" class="form-control" data-placement="right" data-container="body" placeholder="Focus tooltip" data-trigger="focus" bs-tooltip data-title="我是关注者">
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>Popover使用方法</h1>
            </div>
            <p>
                <button type="button" class="btn btn-info" data-placement="bottom" data-animation="am-flip-x" bs-popover data-title="popver" data-content="正等你来看示例呢!">
                    戳我看Popover
                </button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>Typeaheads使用方法</h1>
            </div>
            <div class="input-group col-xs-8 col-sm-6">
                <span class="input-group-addon"><i class="fa fa-globe"></i>&nbsp;国家</span>
                <input type="text" class="form-control" ng-model="selectedState" bs-options="state for state in states" placeholder="键入国家" bs-typeahead>
            </div>
            <br/>
            您选择的国家是:  <span class="label label-primary">{{ selectedState }}</span>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>Datepickers使用方法</h1>
            </div>
            <div class="input-group col-xs-8 col-sm-6">
                <span class="input-group-addon"><i class="fa fa-calendar"></i>&nbsp;选择日期</span>
                <input type="text" class="form-control" ng-model="selectedDate" data-trigger="focus" data-autoclose="true" bs-datepicker data-container="body">
            </div>
            <br/>
            您选择的日期是:  <span class="label label-warning">{{ selectedDate | date:'yyyy-MM-dd' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>Select使用方法</h1>
            </div>
            <div class="input-group col-xs-8 col-sm-6">
                <span class="input-group-addon"><i class="fa fa-bars"></i>&nbsp;下拉单选</span>
                <button type="button" class="btn btn-default" ng-model="selectedMenu" bs-options="menu.value as menu.label for menu in menus" bs-select>
                    Action <span class="caret"></span>
                </button>
            </div>
            <br/>
            您选择的内容是:  <span class="label label-primary">{{ selectedMenu }}</span>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>Radio使用方法</h1>
            </div>
            <div class="btn-group" ng-model="button.radio" bs-radio-group>
                <label class="btn btn-default"><input type="radio" class="btn btn-default" value="tianshi"/>天时</label>
                <label class="btn btn-default"><input type="radio" class="btn btn-default" value="dili"/>地利</label>
                <label class="btn btn-default"><input type="radio" class="btn btn-default" value="renhe"/>人和</label>
            </div>
            <br/><br/>
            您选择的按钮是:  <span class="label label-danger">{{ button.radio }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h1>Dropdown使用方法</h1>
            </div>
            <div class="input-group col-xs-8 col-sm-6">
                <button type="button" class="btn btn-danger" data-animation="am-flip-x" bs-dropdown="dropdowns" data-html="true">
                    点击我打开下拉列表
                </button>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">

        </div>
    </div>


</div> <!-- /container -->